// Cores base
$red: #ff6b6b;
$green: #51cf66;
$blue: #339af0;
$yellow: #fcc419;

$colors: (
  red: $red,
  green: $green,
  blue: $blue,
  yellow: $yellow,
);

// Cores para fundo e texto
$background: #f8f9fa;
$text: #212529;
